
/****************************/
/* Form Init                */
/****************************/
input[type=text],input[type=password]{
    height:$formHeight;
    padding:0 $formHeight/10;
    border:1px solid $gray_c;
    border-radius:$radius;
    transition:$speed;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    // outline:none;

    &::placeholder {color:$gray_a;}
    &:-ms-input-placeholder{color:$gray_a;}
    &::-webkit-input-placeholder{color:$gray_a;}
    &::-moz-placeholder{color:$gray_a;}
}

input[type=radio],input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:0;
    height:0;
    padding:0;
    background:none;
    border:0;
}

input[type=file]{
    appearance: none;
    -webkit-appearance:none;
    height:$formHeight;
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    &::-ms-expand {
        display: none;
    }
}


/****************************/
/* Input                    */
/****************************/
input[type=text],input[type=password]{
    &.bottom{
        border:0;
        border-bottom:1px solid $gray_c;
        border-radius:0;
    }
    &.bg{
        background-color: $gray_e;
        border-color: $gray_e;
    }
    &.color{
        border-color: $mainColor;
        color:$mainColor;
        + label{
            color:$mainColor;
        }
        &::placeholder {color:$mainColor;}
        &:-ms-input-placeholder{color:$mainColor;}
        &::-webkit-input-placeholder{color:$mainColor;}
        &::-moz-placeholder{color:$mainColor;}
    }
    &.fullcolor{
        background-color: $mainColor;
        border-color: $mainColor;
        color:#fff;
        &:hover{
            background-color:$darkColor;
        }
        + label{
            color:#fff;
        }
        &::placeholder {color:#fff;}
        &:-ms-input-placeholder{color:#fff;}
        &::-webkit-input-placeholder{color:#fff;}
        &::-moz-placeholder{color:#fff;}
    }
    &:hover{
        border-color:$mainColor;
    }
}


/****************************/
/* Radio                    */
/****************************/
.radiowrap{
    input[type=radio] + label{
        position: relative;
        padding-left:25px;

        &:before, &:after{
            content:'';
            display:inline-block;
            position:absolute;
            border-radius:50%;
            transition:$speed;
        }
        &:before{
            top:0;
            left:0;
            width:20px;
            height:20px;
            border:1px solid $gray_c;
        }
        &:after{
            top:10px;
            left:10px;
            width:1px;
            height:1px;
            background-color: #fff;
        }
    }

    input[type=radio]:checked + label{
        &:before{
            border-color:$mainColor;
        }
        &:after{
            top:7px;
            left:7px;
            width:8px;
            height:8px;
            background-color: $mainColor;
        }
    }
    &.focus input[type=radio] + label{
        &:before{
            border:1px dotted #000;
        }
    }
}

.formwrap{
    position: relative;
    @include clear;
    &.file{
        position: relative;
        label{
            @extend button;
            float:left;
            display: table !important;
            margin-left:5px;
            span{
                display:table-cell;
                vertical-align: middle;
            }
        }
        .ip_file {
            position: absolute;
            left: -9999px;
        }
        .filename{
            float:left;
            display: flex;
            align-items:center;
            min-width:150px;
            height:$formHeight;
            padding:0.5rem;
            white-space: nowrap;
            overflow:hidden;
            color:$formColor;
            border:1px solid $gray_c;
            border-radius:$radius;
        } 
    }
    &.fit{
        input, button{
            float:left;
        }
        input, .filename{
            border-right:none;
            border-radius:$radius 0 0 $radius;
        }
       
        button, label{
            border-radius:0 $radius $radius 0 !important;
            margin-left:0;
        }
    }    
}


/****************************/
/* checkbox                 */
/****************************/
.checkwrap{
    position: relative;
    &:before{
        content:'';
        display:inline-block;
        position:absolute;
        top:0;
        left:0;
        width:20px;
        height:20px;
        border:1px solid $gray_c;
        border-radius:$radius;
    }    
    &.right{
        &:before{
            left:inherit;
            right:0;
        }
        input[type=checkbox] + label{
            padding:0 30px 0 0;
            &:before, &:after{
                left:inherit;
            }
            &:before{
                right:11px;
            }
            &:after{
                right:3px;
            }
        }
    }
    &.full{
        display:block;
        position:relative;
        @include clear;
        label{
            display:block;
            float:left;
            width:100%;
        }
    }
    &.focus:before{
        border:1px dotted #000;
    }
}

input[type=checkbox] + label{
    position: relative;
    padding-left:25px;

    &:before, &:after{
        content:'';
        display:inline-block;
        position:absolute;
        background-color: transparent;
        border-radius:2px;
    }
    &:before{
        top:11px;
        left:-1px;
        width:8px;
        height:2px;
        transform:scaleX(0) rotate(0deg);
    }
    &:after{
        top:9px;
        left:3px;
        width:12px;
        height:2px;
        transform:scaleX(0) rotate(0deg);
    }
}

input[type=checkbox]:checked + label{
    &:before, &:after{
        background-color: $mainColor;
        transition:.2s;
    }
    &:before{
        transform:scaleX(1) rotate(45deg);
    }
    &:after{
        transform:scaleX(1) rotate(-50deg);
        transition-delay:.1s;
    }
}


/****************************/
/* select                   */
/****************************/
.select{
    position: relative;
    display: inline-block;
    &:before{
        content:'';
        display: inline-block;
        height:1px;
        border-top:6px solid $gray_b;
        border-right:4px solid transparent;
        border-left:4px solid transparent;
        border-bottom:1px solid transparent;
        @include posCenter(0,10px,0,inherit);
    }
    select{
        min-width:120px;
        height:$formHeight;
        padding:0 .6rem;
        border-radius:$radius;
        border-color:$gray_c;
    }
    &.color{
        select{
            border-color:$mainColor;
            color:$mainColor;
        }
        &:before{
            border-top-color:$mainColor;
        }
    }
    &.fullcolor{
        select{
            border-color:$mainColor;
            background-color:$mainColor;
            color:#fff;
            &:hover{
                background-color:$darkColor;
            }
        }
        &:before{
            border-top-color:#fff;
        }
    }
}



.select_custom{
    a{
        display:table;
        width:100%;
        height:$formHeight;
        padding:0 1rem;
        span{
            display:table-cell;
            vertical-align: middle;
        }
    }
    .default{
        position: relative;
        border:1px solid $gray_c;
        border-radius:$radius;
        &:after{
            content:'▼';
            display:inline-block;
            height:1rem;
            font-size:.8rem;
            color:$gray_b;
            @include posCenter(0,1rem,0,inherit)
        }
        &.on{
            border-radius:$radius $radius 0 0;
            border-bottom:1px solid $gray_f;
            &:after{
                content:'▲';
            }
        }
    }
    ul{
        display:none;
        border:1px solid $gray_c;
        border-top:none;
        background-color: $gray_f;
        border-radius:0 0 $radius $radius;
        overflow: hidden;
        li{
            a{
                color:$gray_a;
            }
            &:hover{
                background-color: $gray_e;
            }
        }
    }
    &.color{
        .default{
            border-color:$mainColor;
            color:$mainColor;
            &:after{
                color:$mainColor;
            }
        }
        ul{
            border-color:$mainColor;
            background-color: #fff;
            li{
                a:hover{
                    background-color: $lightColor;
                }
            }
        }
    }
    &.fullcolor{
        .default{
            border-color:$mainColor;
            background-color:$mainColor;
            color:#fff;
            &:after{
                color:#fff;
            }
            &:hover{
                background-color:$darkColor;
            }
        }
        ul{
            border-color:$mainColor;
            background-color: #fff;
            li{
                a:hover{
                    background-color: $lightColor;
                }
            }
        }        
    }
}

