
/****************************/
/* grid                     */
/****************************/
$gutter : 1rem;

.colbox{
    display: flex;
    flex-wrap:wrap;
    > div{
        margin: $gutter/2;
    }
    &.col2 > div{
        width:calc(50% - #{$gutter/2});
        &:nth-child(odd){
            margin-left:0;
        }
        &:nth-child(even){
            margin-right:0;
        }
    }
    &.col3 > div{
        width:calc(33.333% - #{$gutter/1.49});
        &:nth-child(3n-2){
            margin-left:0;
        }
        &:nth-child(3n){
            margin-right:0;
        }
    }
    &.col4 > div{
        width:calc(25% - #{$gutter/1.33});
        &:nth-child(4n-3){
            margin-left:0;
        }
        &:nth-child(4n){
            margin-right:0;
        }
    }
    &.col5 > div{
        width:calc(20% - #{$gutter/1.25});
        &:nth-child(5n-4){
            margin-left:0;
        }
        &:nth-child(5n){
            margin-right:0;
        }
    }
    &.col6 > div{
        width:calc(16.66% - #{$gutter/1});
        &:nth-child(6n-5){
            margin-left:0;
        }
        &:nth-child(6n){
            margin-right:0;
        }
    }
    > .colbox {
        margin-top:0;
        margin-bottom:0;
    }
}