
/****************************/
/* Guide Style             */
/****************************/
$maxWidth: 1280px;

#container{
    max-width: $maxWidth;
    margin:0 auto;
}

.sec_tit{
    position: relative;
    text-transform:uppercase;
    font-size:1.625rem;
    font-weight: bold;
    margin-bottom:20px;
    &:after{
        content:'';
        display:inline-block;
        position: absolute;
        width:15px;
        height:4px;
        top:-3px;
        left:1px;
        background-color: $mainColor;
    }
    &:first-letter{
        color:$mainColor;
    }
}

.ui_guide{
    padding:1rem;
    margin-bottom:30px;
    font-size:1rem;
    font-weight: normal;
    background-color: $gray_f;
    color:$gray_5;
    border-radius:$radius;
}

.guide_info{
    margin-bottom:10rem;
    h1{
        margin-bottom:10px;
        font-size:2.3rem;
        span{
            display:inline-block;
            color:$gray_a;
            font-size: 1.3rem;
            font-weight: normal;
        }
    }
    p{
        color:$gray_7;
    }
}

.ui_group{
    margin-bottom:30px;
    h3.ui_tit3{
        margin-bottom:10px;
        font-size:1.25rem;
    }
    h4.ui_tit4{
        font-size:1rem;
        margin:10px 0;
    }
    &:last-child{
        margin-bottom:0;
    }
    .info{
        color:$gray_a;
        strong{
            color:$gray_7;
        }
        span{
            position: relative;
            padding-left:10px;
            margin-left:5px;
            &:before{
                content:'';
                width:1px;
                height:60%;
                background-color: $gray_c;
                @include posCenter(0,inherit,0,0);
            }
        }
    }
}

.item_guide{
    .item{
        margin-bottom:10px;
    }
    p{
        color:$formColor;
        font-size:1rem;
        line-height:1.3;
        text-transform:uppercase;
        span{
            font-size:.8rem;
            color:$gray_a;
        }
    }
}


.ui_link {
    position: relative;
    width:100%;
    background: #fff;
    z-index: 7;
    padding: 10px 0;
    transition: $speed;

    .lk_wrap{
        max-width: $maxWidth - 50px;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        .btn{
            flex-shrink: 1;
            flex-grow: 1;
            margin:5px;
        }
    }
    
    &.fix {
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 25px;
        box-shadow: 2px 2px 6px rgba(0,0,0,.1);
        .btn{
            line-height:40px;
            min-height:40px;
            margin:3px;
            padding:0 8px;
        }
    }
}


.go_top{
    display:none;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:1;
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,.2);
    border-radius:50%;
    &:after,
    &:before{
        content:'';
        display:inline-block;
        position: absolute;
        top:17px;
        width:12px;
        height:3px;
        background-color: rgba(255,255,255,.7);
        border-radius:20px;
    }
    &:after{
        left:10px;
        transform:rotate(-45deg);
    }
    &:before{
        right:10px;
        transform:rotate(45deg);
    }

}


/****************************/
/* item guide               */
/****************************/
.item_guide{
    .item{
        display:inline-block;
        position: relative;
        width:3.75rem;
        height:3.75rem;
        border-radius:50%;
        span{
            display:inline-block;
            width:20px;
            height:20px;
            line-height:1;
            @include posCenter;
        }
        &.maincolor{
            background-color: $mainColor;
        }
        &.darkcolor{
            background-color: $darkColor;
        }
        &.lightcolor{
            background-color: $lightColor;
        }
        &.border{
            border:1px solid $mainColor;
        }
        &.form{
            border:1px solid $formColor;
            color:$formColor;
        }
        &.text{
            border:1px solid $textColor;
            color:$textColor;
        }

        &.shadow{
            &.basic1{
                box-shadow: $shadowBasic1;
            }
            &.basic2{
                box-shadow: $shadowBasic2;
            }
            &.hard1{
                box-shadow: $shadowHard1;
            }
            &.hard2{
                box-shadow: $shadowHard2;
            }
            &.color1{
                box-shadow: $shadowColor1;
            }
            &.color2{
                box-shadow: $shadowColor2;
            }
        }
      
    }
}