

/****************************/
/* media                    */
/****************************/

@media (max-width:480px) {

    // ui guide style
    .ui_link.fix .btn {
        line-height:30px;
        min-height:30px;
        padding:0 5px;
        font-size:.9rem;
    }
    .item_guide{
        &.col2 > div,
        &.col3 > div,
        &.col4 > div,
        &.col5 > div,
        &.col6 > div {
            width:50%;
        }
    }

}