

/****************************/
/* media                    */
/****************************/
@media (max-width:768px) {
    .colbox{
        &.col3 > div,
        &.col4 > div,
        &.col5 > div,
        &.col6 > div
        {
            width:calc(50% - #{$gutter/2});
        }
        > div:nth-child(odd){
            margin-left:0;
        }
        > div:nth-child(even){
            margin-right:0;
        }
    }
}

@media (max-width:480px) {
    html{
        font-size:90%;
        transition:$speed;
    }
    .layer_wrap{
        .layer_box{
            width:90%;
            max-width:90%;
        }
        &.dialog{
            .layer_box{
                width:90%;
                max-width:90%;
            }
        } 
    }

    .colbox{
        &.col2 > div,
        &.col3 > div,
        &.col4 > div,
        &.col5 > div,
        &.col6 > div {
            width:100%;
            margin:0 0 $gutter 0;
        }
    }

    // ui guide style
    .ui_link.fix .btn {
        line-height:30px;
        min-height:30px;
        padding:0 5px;
        font-size:.9rem;
    }
    .item_guide{
        &.col2 > div,
        &.col3 > div,
        &.col4 > div,
        &.col5 > div,
        &.col6 > div {
            width:50%;
        }
    }

}