
/****************************/
/* Motion                   */
/****************************/
.btn_motion{
    position: relative;
    display:inline-block;
    overflow: hidden;
    cursor: pointer;
    .effect{
        display:inline-block;
        background:$lightColor2;
        width:30px;
        height:30px;
        border-radius:50%;
        position:absolute;
        top:0;
        left:0;
        transform:scale(0);
    }
    &.on .effect{
        animation:rip .8s ease-out;
    }
}

@keyframes rip{
    100%{
        transform:scale(16);
        background-color:transparent;
    }
}

.form_group{
    position:relative;
    display:inline-block;

    label{
        transition:$speed;
        position:absolute;
        top:0;
        left:0;
        color:$formColor;
        pointer-events:none;
        z-index:1;
    }    

    input{
        position:relative;
        outline:none;
        transition:$speed;
        &:focus{
            border-color:$mainColor;
        }
        &:focus + label,
        &:valid + label{
          transform:translateY(-17px) scale(0.8);
          transform-origin:top left;
          color:$mainColor;
        }
    }
    
    &.mt_line{
        label{
            left:10px;
            top:10px;
            border-radius:$radius;
        }
        input{
            transition:$speed;
            &.color{
                &:focus, &:valid{
                    border-width:2px;
                }
                &:focus + label,
                &:valid + label{
                    padding:0 5px;
                    background-color: #fff;
                }
            }
            &.fullcolor{
                &:focus + label,
                &:valid + label{
                    color:#fff;
                    transform:translateY(-6px) scale(0.6);
                }
            }
        }
    }

    &.mt_linebot{
        label{
            top:5px;
        }
        input{
            text-indent:0;
            &:focus + label,
            &:valid + label{
              transform:translateY(-15px) scale(0.8);
            }
            &:focus ~ .line{
              width:100%;
              opacity:1;
            }
        }
        .line{
            display:inline-block;
            position:absolute;
            z-index:99999;
            bottom:0;
            left:0;
            width:0;
            opacity:0;
            height:2px;
            background:$mainColor;
            transition:$speed;
        }
    }
}

.motion_wrap{
    &.pers{
        position: relative;
        perspective:400px;
        button{
            transition:$speed;
            &:hover{
                box-shadow:$shadowColor1;
                transform:translateZ(5px);
                transform-origin:center center;
            }
        }
    }
    &.change{
        button{
            &:hover{
                background-color: $mainColor;
                border-color: $mainColor;
                color:#fff;
            }
        }
    }
    &.fill{
        .mbtn{
            display:inline-block;
            position:relative;
            border-radius:$radius;
            overflow: hidden;
            .line{
                display:block;
                position:absolute;
                z-index:-1;
                bottom:0;
                left:0;
                width:100%;
                height:1px;
                background-color: $mainColor;
                transition:$speed;
            }
            button{
                &:hover{
                    + .line{
                        height:100%;
                    }
                }
                &.color.border{
                    &:hover{
                        background-color: transparent;
                        border-color: $mainColor;
                        color:#fff;
                    } 
                    
                }
              
            }
        }
    }
}

/* micro */
$microBorder:3px;
.micro{
    position:relative; 
    display:inline-block;
    width:1.875rem;
    height:1.875rem;
    margin:.625rem;
    transition:all $speed ease-out;
    * {
        transition:all $speed ease-out;
    }
    a{
        position:relative; 
        height:100%; 
        width:100%; 
        display:inline-block;
    }

    // line
    &.line {
        span{
            position:absolute; 
            left:0; 
            display:inline-block; 
            width:100%; 
            height:$microBorder; 
            background:#ccc; 
            border-radius:$radius;

            &:nth-child(1){
                top:0;
            }
            &:nth-child(2){
                top:32%;
            }
            &:nth-child(3){
                top:66%;
            }
        }

        // on
        &.on {
            *{
                transition:all $speed ease-out;
            }
            span{
                background-color: $mainColor;
            }
        }


        // type1
        &.type1.on {
            span{
                &:nth-child(1){
                    transform:rotateZ(45deg);
                    transform-origin:0 0;
                    -webkit-transform:rotateZ(45deg);
                    -webkit-transform-origin:0 0;
                }
                &:nth-child(2){
                    opacity:0;
                }
                &:nth-child(3){
                    transform:rotateZ(-45deg);
                    transform-origin:0 100%;
                    -webkit-transform:rotateZ(-45deg);
                    -webkit-transform-origin:0 100%;
                }
            }
        }

        // type2
        &.type2.on{
            span{
                &:nth-child(1){
                    top:10px;
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                &:nth-child(2){
                    top:10px;
                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
                &:nth-child(3){
                    display:none;
                }
            }
        }

        // type3
        &.type3.on {
            span{
                &:nth-child(2){
                    width:80%;
                }
                &:nth-child(3){
                    width:50%;
                }
            }
        }
    }


    // check
    &.ok {
        span{
            position:absolute; 
            display:inline-block; 
            left:0; 
            width:0; 
            height:$microBorder; 
            background:$gray_c; 
            border-radius:$radius;

            &.circle{
                border:$microBorder solid $gray_c; 
                width:100%; 
                height:100%; 
                border-radius:50%; 
                background:none;
            }
            &.line1{
                transform:rotateZ(45deg); 
                top:33%; 
            }
            &.line2{
                transform:rotateZ(-45deg); 
                left:40%; 
                top:52%;
            }
        }

        &.on {
            .circle{
                opacity:0;
            }
            .line1,.line2{
                background-color: $mainColor;
            }
            .line1{
                width:45%;
            }
            .line2{
                width:90%;
                transition-delay:.1s;
                transform-origin:0% 100%;
            }
        }
    }


    // heart
    &.heart {
        text-align: center; 
        svg{
            width:100%;
            height:100%;
        }
        .path {
            stroke-width:$microBorder*7;
            stroke:$gray_c;
            stroke-linecap:round;
            fill:$gray_c;
            transform:scale(1.2);
            transform-origin:center;
        }
        &.on svg{
            transform:rotateY(180deg);
            path {
                stroke:$mainColor;
                fill:$mainColor;
            }
        }
    }


    // music
    &.music {
        a{
            width:100%;
            height:100%;
            position:relative;
            display: flex;
            align-items:flex-end;
        }
        span{
            display:inline-block;
            width:$microBorder + 1px;
            height:$microBorder + 1px;
            background:$gray_c;
            transform-origin:center bottom;
            border-radius:$radius;

            + span{
                margin-left:$microBorder;
            }
        }
        &.color{
            span{
                background:$mainColor;
                animation: color 1s linear infinite;
                &:nth-child(2) {
                    animation-delay: -.66s;
                }
                &:nth-child(3) {
                    animation-delay: -1.33s;
                }
            }
        }
    }

    @keyframes color {
        50% { 
            filter: hue-rotate(70deg);
        }
    }
}
