/****************************/
/* Reset Style              */
/****************************/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0; font-weight:normal;}
body, input, select, div, textarea, table, button {font-size:1rem; font-family:'Noto Sans','dotum', sans-serif; color:#222;}
table {width:100%; border:0; border-spacing:0px; border-collapse:collapse;}
option {vertical-align:middle;  padding:3px 0;} /* Firefox Fix */
legend {display:none; visibility:hidden;}
img, fieldset, button {vertical-align:middle; border:0;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
input, textarea, button {vertical-align: middle;}
/*input*/
input[type=text], input[type=password] {background:#ffffff; width:126px; height:17px; padding:4px 0 1px 0; color:#454545; text-indent:7px; vertical-align:middle; border:1px solid #e0e0e0;}
textarea {background:#ffffff; width:100%; height:100px; padding:4px 0 1px 0; color:#454545; vertical-align:middle; border:1px solid #e0e0e0;}
input[type=text]:hover, input[type=password]:hover, textarea:hover {border:1px solid #89b4d3;}
select {border:1px solid #e0e0e0; height:24px; padding:3px 3px 3px 4px; vertical-align: middle; line-height:24px;}
input[type="file"] {vertical-align:middle; height:22px; width:80%; margin-right:6px;}
input[type="checkbox"],input[type="radio"] { margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
label {cursor:pointer;}
a {text-decoration:none;color:#454545;}
a:hover, a:active, a:focus{text-decoration:none;}
.hide {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
